<HTML><HEAD><TITLE>Post.4 — line;perpendicular</TITLE></HEAD>
<BODY BGCOLOR=ffe9cd>
<applet code=Geometry codebase=.. archive=Geometry.zip height=160 width=310>
<param name=background value="35,19,100">
<param name=title value="Post.4">
<param name=e[1] value="A;point;free;40,130">
<param name=e[2] value="B;point;free;160,130">
<param name=e[3] value="AB;line;connect;A,B">
<param name=e[4] value="C;point;lineSlider;AB,90,130">
<param name=e[5] value="D;point;perpendicular;C,B">
<param name=e[6] value="CD;line;connect;C,D">
<param name=e[7] value="E;point;free;160,40">
<param name=e[8] value="F;point;free;270,130">
<param name=e[9] value="EF;line;connect;E,F">
<param name=e[10] value="G;point;lineSlider;EF,215,85">
<param name=e[11] value="H;point;perpendicular;G,F">
<param name=e[12] value="GH;line;connect;G,H">
</applet>
</BODY></HTML>
