<HTML><HEAD><TITLE>I.1 — line;bichord</TITLE></HEAD>
<BODY BGCOLOR=ffe9cd>
<applet code=Geometry codebase=.. archive=Geometry.zip height=260 width=340>
<param name=background value="35,19,100">
<param name=title value="I.1">
<param name=e[1] value="A;point;free;125,130">
<param name=e[2] value="B;point;free;215,130">
<param name=e[3] value="AB;line;connect;A,B">
<param name=e[4] value="Acirc;circle;radius;A,B">
<param name=e[5] value="Bcirc;circle;radius;B,A">
<param name=e[6] value="CD;line;bichord;Bcirc,Acirc;0;0;0">
<param name=e[7] value="C;point;first;CD;black;green">
<param name=e[8] value="AC;line;connect;A,C">
<param name=e[9] value="BC;line;connect;B,C">
<param name=e[10] value="AE;line;extend;AB,AB;0;0;0">
<param name=e[11] value="E;point;last;AE;black;0">
<param name=e[12] value="BD;line;extend;B,A,A,B;0;0;0">
<param name=e[13] value="D;point;last;BD;black;0">
<param name=e[14] value="ABC;polygon;triangle;A,B,C;0;0;0;random">
</applet>
</BODY></HTML>
