<HTML><HEAD><TITLE>III.25a — point;circumcenter + line;perpendicular</TITLE></HEAD>
<BODY BGCOLOR=ffe9cd>
<applet code=Geometry archive=../Geometry.zip height=230 width=230>
<param name=background value="35,19,100">
<param name=title value="III.25a">
<param name=e[1] value="A;point;free;60,30">
<param name=e[2] value="C;point;free;60,200">
<param name=e[3] value="AC;line;connect;A,C">
<param name=e[4] value="D;point;midpoint;AC">
<param name=e[5] value="DB;line;perpendicular;D,A;0;0;0">
<param name=e[6] value="B;point;lineSlider;DB,30,115">
<param name=e[7] value="E;point;circumcenter;A,B,C;black;green">
<param name=e[8] value="BE;line;connect;B,E">
<param name=e[9] value="AE;line;connect;A,E">
<param name=e[10] value="CE;line;connect;C,E">
<param name=e[11] value="ABC;sector;sector;E,A,C;0;0;black;random">
<param name=e[12] value="AB;line;connect;A,B">
<param name=e[13] value="ACE;polygon;triangle;A,C,E;0;0;0;background">
</applet>
</BODY></HTML>
