<HTML><HEAD><TITLE>Lemma X.33 — point;foot</TITLE></HEAD>
<BODY BGCOLOR=ffe9cd>
<applet code=Geometry codebase=.. archive=Geometry.zip height=200 width=280>
<param name=background value="35,19,100">
<param name=title value="lemma for X.33">
<param name=e[1] value="B;point;free;30,170">
<param name=e[2] value="C;point;free;250,170">
<param name=e[3] value="BCmid;point;midpoint;B,C;0;0">
<param name=e[4] value="ABC;circle;radius;BCmid,B;0;0;0;0">
<param name=e[5] value="A;point;circleSlider;ABC,120,40">
<param name=e[6] value="M;point;foot;A,B,C">
<param name=e[7] value="ABM;polygon;triangle;A,B,M;0;0;black;random">
<param name=e[8] value="ACM;polygon;triangle;A,C,M;0;0;black;random">
</applet>
</BODY></HTML>
