<HTML><HEAD><TITLE>I.28 — point;parallelogram</TITLE></HEAD>
<BODY BGCOLOR=ffe9cd>
<applet code=Geometry archive=../Geometry.zip height=200 width=230>
<param name=background value="35,19,100">
<param name=title value="I.28">
<param name=e[1] value="A;point;free;40,80">
<param name=e[2] value="B;point;free;190,80">
<param name=e[3] value="AB;line;connect;A,B">
<param name=e[4] value="C;point;free;40,120">
<param name=e[5] value="D';point;parallelogram;C,A,B;0;0">
<param name=e[6] value="D;point;lineSlider;C,D',190,40">
<param name=e[7] value="CD;line;connect;C,D">
<param name=e[8] value="E;point;free;70,40">
<param name=e[9] value="F;point;free;130,170">
<param name=e[10] value="EF;line;connect;E,F">
<param name=e[11] value="G;point;intersection;A,B,E,F">
<param name=e[12] value="H;point;intersection;C,D,E,F">
</applet>
</BODY></HTML>
