<HTML><HEAD><TITLE>Def III.10 — sector;sector</TITLE></HEAD>
<BODY BGCOLOR=ffe9cd>
<applet code=Geometry codebase=.. archive=Geometry.zip height=240 width=300>
<param name=background value="35,19,100">
<param name=title value="III.Def.10">
<param name=e[1] value="A;point;free;150,120;black;green">
<param name=e[2] value="B;point;free;150,30">
<param name=e[3] value="Acirc;circle;radius;A,B;0;0;black;random">
<param name=e[4] value="C;point;circleSlider;Acirc,40,130">
<param name=e[5] value="sect;sector;sector;A,B,C;0;0;0;random">
<param name=e[6] value="AB;line;connect;A,B">
<param name=e[7] value="AC;line;connect;A,C">
</applet>
</BODY></HTML>
