<html>
<head>
    <title>Test View - Line.bichord (I.1)</title>
</head>
<body>
<canvas id="canvasId" style="width:600px; height: 600px;"></canvas>
<!-- Dependencies -->
<script src="../../../dist/bundle.js" type="text/javascript"></script>
<script type="text/javascript">
    console.log(geomlib);
    let Color = geomlib.Color;
    let Align = geomlib.Align;
    let E = geomlib.E;
    geomlib.init({
        background: '#ffe9cd',
        title: "I.1 — To construct an equilateral triangle on a given finite straight line",
        align: Align.ABOVE,
        canvasid: "canvasId",
        elements: [
            // <param name=e[1] value="A;point;free;125,130">
            {
                name: "A",
                construction: E.Point.free,
                params: [125, 130]
            },
            // <param name=e[2] value="B;point;free;215,130">
            {
                name: "B",
                construction: E.Point.free,
                params: [215, 130]
            },
            // <param name=e[3] value="AB;line;connect;A,B;0">
            {
                name: "AB",
                construction: E.Line.connect,
                params: ["A", "B"],
                nameColor: 0
            },
            // <param name=e[4] value="Acirc;circle;radius;A,B">
            {
                name: "Acirc",
                construction: E.Circle.radius,
                params: ["A", "B"]
            },
            // <param name=e[5] value="Bcirc;circle;radius;B,A">
            {
                name: "Bcirc",
                construction: E.Circle.radius,
                params: ["B", "A"]
            },
            // <param name=e[6] value="CD;line;bichord;Bcirc,Acirc">
            {
                name: "CD",
                construction: E.Line.bichord,
                params: ["Bcirc", "Acirc"]
            },
        ]
    })

</script>
</body>
</html>