<HTML><HEAD>
<TITLE>Euclid's Elements, Book II, Proposition 12</TITLE>
<link rel="stylesheet" type="text/css" href="../elements.css">
<script src="../elements.js"></script>
</HEAD>
<BODY>

<div id="header"></div>
<script>loadHeader();</script>

<div class="theorem">
<h1>Proposition 12</h1>

<div class="statement">In obtuse-angled triangles the square on the side opposite the obtuse angle is greater than the sum of the squares on the sides containing the obtuse angle by twice the rectangle contained by one of the sides about the obtuse angle, namely that on which the perpendicular falls, and the straight line cut off outside by the perpendicular towards the obtuse angle.</div>

<div class="just"><a href="../bookI/propI12.html">I.12</a></div>
<p>Let <i>ABC</i> be an obtuse-angled triangle having the angle <i>BAC</i> obtuse, and draw <i>BD</i> from the point <i>B</i> perpendicular to <i>CA</i> produced.

<p>I say that the square on <i>BC</i> is greater than the sum of the squares on <i>BA</i> and <i>AC</i> by twice the rectangle <i>CA</i> by <i>AD.</i>

<div class="ldiagram">
<div id="ap1">
<applet code=Geometry codebase="../../Geometry" archive=Geometry.zip height=230 width=250>
<img src="propII12.gif" alt="java applet or image">
<param name=background value="35,19,100">
<param name=title value="II.12">
<param name=e[1] value="A;point;free;100,200">
<param name=e[2] value="B;point;free;30,30">
<param name=e[3] value="C;point;free;200,200">
<param name=e[4] value="ABC;polygon;triangle;A,B,C;0;0;0,0,0;random">
<param name=e[5] value="BD;line;foot;B,A,C">
<param name=e[6] value="D;point;last;BD">
<param name=e[7] value="DA;line;connect;D,A">
</applet>
</div>
<script>
if (!navigator.javaEnabled()) document.getElementById('ap1').innerHTML =
  '<img src="propII12.gif" hspace=10 alt="II.12">';
</script>
</div>

<div class="just"><a href="propII4.html">II.4</a></div>
<p>Since the straight line <i>CD</i> has been cut at random at the point <i>A,</i> the square on <i>DC</i> equals the sum of the squares on <i>CA</i> and <i>AD</i> and twice the rectangle <i>CA</i> by <i>AD.</i>

<p>Add the square on <i>DB</i> be added to each. Therefore the sum of the squares on <i>CD</i> and <i>DB</i> equals the sum of the squares on <i>CA, AD,</i>  and <i>DB</i> plus twice the rectangle <i>CA</i> by <i>AD.</i>

<div class="just"><a href="../bookI/propI47.html">I.47</a></div>
<p>But the square on <i>CB</i> equals the sum of the squares on <i>CD</i> and <i>DB,</i> for the angle at <i>D</i> is right,  and the square on <i>AB</i> equals the sum of the squares on <i>AD</i> and <i>DB,</i> therefore the square on <i>CB</i> equals the sum of the squares on <i>CA</i> and <i>AB</i> plus twice the rectangle  <i>CA</i> by <i>AD,</i> so that the square on <i>CB</i> is greater than the sum of the squares on <i>CA</i> and <i>AB</i> by twice the rectangle  <i>CA</i> by <i>AD.</i>

<p>Therefore <i>in obtuse-angled triangles the square on the side opposite the obtuse angle is greater than the sum of the squares on the sides containing the obtuse angle by twice the rectangle contained by one of the sides about the obtuse angle, namely that on which the perpendicular falls, and the straight line cut off outside by the perpendicular towards the obtuse angle.</i>

<div class="qed">Q.E.D.</div>
</div>

<a name=guide><h2>Guide</h2></a>

This proposition for obtuse angles, together with the next one for acute triangles, complement the Pythagorean theorem, <a  href=../bookI/propI47.html>Proposition I.47</a>, for right triangles. Prop.I.47 says that if triangle <i>ABC</i> has a right angle at <i>A,</i> then

where <i>a, b,</i> and <i>c</i> are the sides opposite the angles <i>A, B,</i> and <i>C,</i> respectively.

<table><tr>
<td>
<center>
<i>a</i><sup>2</sup>&nbsp;=&nbsp;<i>b</i><sup>2</sup>&nbsp;+&nbsp;<i>c</i><sup>2</sup>
</center><p>

In this proposition, II.12, the angle <i>A</i> is obtuse rather than right, and the conclusion is that 

<p><center>
<i>a</i><sup>2</sup> = <i>b</i><sup>2</sup> + <i>c</i><sup>2</sup> + 2<i>c</i> (<i>AD</i>)
</center><p> 

The next proposition, <a href=propII13.html>II.13</a> has a similar conclusion, but the hypothesis is that the angle at <i>A</i> is acute rather than obtuse.
</td><td>
<div id="ap2">
<applet code=Geometry codebase="../../Geometry" archive=Geometry.zip height=200 width=280>
<img src="propII12a.gif"
alt="An oblique triangle with standard labels for its parts" vspace=10 hspace=10>
<param name=background value="35,19,100">
<param name=title value="Oblique triangle">
<param name=e[1] value="A;point;free;100,160">
<param name=e[2] value="C;point;free;40,40">
<param name=e[3] value="B;point;free;240,160">
<param name=e[4] value="a;line;connect;B,C;black">
<param name=e[5] value="c;line;connect;A,B;black">
<param name=e[6] value="b;line;connect;A,C;black">
<param name=e[7] value="ABC;polygon;triangle;A,B,C;0;0;0;random">
<param name=e[8] value="D;point;foot;C,A,B">
<param name=e[9] value="h;line;connect;C,D;0;0;gray">
<param name=e[10] value="DA;line;connect;D,A;0;0;gray">
</applet>
</div>
<script>
if (!navigator.javaEnabled()) document.getElementById('ap2').innerHTML =
  '<img src="propII12a.gif" hspace=10 alt="Oblique triangle">';
</script>
</table>

<h4>Law of Cosines</h4>

This conclusion is very close to the law of cosines for oblique triangles.

<p><center>
<i>a</i><sup>2</sup> = <i>b</i><sup>2</sup + <i>c</i><sup>2</sup> &ndash; 2<i>bc</i> cos <i>A,</i>
</center><p>

since <i>AD</i> equals &ndash;<i>b</i>&nbsp;cos&nbsp;<i>A,</i> the cosine of an obtuse angle being negative. Trigonometry was developed some time after the <i>Elements</i> was written, and the negative numbers needed here (for the cosine of an obtuse angle) were not accepted until long after most of trigonometry was developed.  Nonetheless, this proposition and the next may be considered geometric versions of the law of cosines.

<p>Neither this nor the next is used in the rest of the <i>Elements.</i> 


<div id="footer"></div>
<script>
  loadFooter("1996, 2010");
</script>
</BODY></HTML>