<HTML><HEAD><TITLE>Euclid's Elements, Book I, Proposition 28</TITLE><link rel="stylesheet" type="text/css" href="../elements.css">
<script src="../elements.js"></script>
</HEAD>
<BODY>

<div id="header"></div>
<script>loadHeader();</script>

<div class="theorem">
<h1>Proposition 28</h1>

<div class="statement">If a straight line falling on two straight lines makes the exterior angle equal to the interior and opposite angle on the same side, or the sum of the interior angles on the same side equal to two right angles, then the straight lines are parallel to one another.</div>

<p>Let the straight line <i>EF</i> falling on the two straight lines <i>AB</i> and <i>CD</i> make the exterior angle <i>EGB</i> equal to the interior and opposite angle <i>GHD,</i> or the sum of the interior angles on the same side, namely <i>BGH</i> and <i>GHD,</i> equal to two right angles.

<div class="ldiagram">
<div id="ap1">
<applet code=Geometry codebase="../../Geometry" archive=Geometry.zip height=200 width=230>
<img src="propI29.gif" alt="java applet or image">
<param name=background value="35,19,100">
<param name=title value="I.28">
<param name=e[1] value="A;point;free;40,80">
<param name=e[2] value="B;point;free;190,80">
<param name=e[3] value="AB;line;connect;A,B">
<param name=e[4] value="C;point;free;40,120">
<param name=e[5] value="D';point;parallelogram;C,A,B;0;0">
<param name=e[6] value="D;point;lineSlider;C,D',190,40">
<param name=e[7] value="CD;line;connect;C,D">
<param name=e[8] value="E;point;free;70,40">
<param name=e[9] value="F;point;free;130,170">
<param name=e[10] value="EF;line;connect;E,F">
<param name=e[11] value="G;point;intersection;A,B,E,F">
<param name=e[12] value="H;point;intersection;C,D,E,F">
</applet>
</div>
<script>
if (!navigator.javaEnabled()) document.getElementById('ap1').innerHTML =
  '<img src="propI29.gif" hspace=10 vspace=10 alt="I.28">';
</script>
</div>

<p>I say that <i>AB</i> is parallel to <i>CD.</i>

<div class="just"><a href="propI15.html">I.15</a>
<br><a href=cn.html>C.N.1</a>.
<a href="propI27.html">I.27</a></div>
<p>Since the angle <i>EGB</i> equals the angle <i>GHD,</i> and the angle <i>EGB</i> equals the angle <i>AGH,</i> therefore the angle <i>AGH</i> equals the angle <i>GHD.</i> And they are alternate, therefore <i>AB</i> is parallel to <i>CD.</i>

<div class="just"><a href="propI13.html">I.13</a>
<br><a href=cn.html>C.N.1</a>
<br><a href=post4.html>I.Post.4</a></div>
<p>Next, since the sum of the angles <i>BGH</i> and <i>GHD</i> equals two right angles, and the sum of the angles <i>AGH</i> and <i>BGH</i> also equals two right angles, therefore the sum of the angles <i>AGH</i> and <i>BGH</i> equals the sum of the angles <i>BGH</i> and <i>GHD.</i>

<div class="just"><a href=cn.html>C.N.3</a>
<br><a href=propI27.html>I.27</a></div>
<p>Subtract the angle <i>BGH</i> from each. Therefore the remaining angle <i>AGH</i> equals the remaining angle <i>GHD.</i> And they are alternate, therefore <i>AB</i> is parallel to <i>CD.</i>

<p>Therefore <i>if a straight line falling on two straight lines makes the exterior angle equal to the interior and opposite angle on the same side, or the sum of the interior angles on the same side equal to two right angles, then the straight lines are parallel to one another.</i>

<div class="qed">Q.E.D.</div>
</div>

<a name=guide><h2>Guide</h2></a>


This proposition states two useful minor variants of the previous proposition.  The three statements differ only in their hypotheses which are easily seen to be equivalent with the help of proposition <a href=propI13.html>I.13</a>.

<h4>Use of Proposition 28</h4>
This proposition is used in <a href=../bookIV/propIV7.html>IV.7</a>, <a href=../bookVI/propVI4.html>VI.4</a>, and a couple times in Book XI.

<div id="footer"></div>
<script>
  loadFooter("1996");
</script>
</BODY></HTML>
