<HTML><HEAD><TITLE>Euclid's Elements, Book I, Proposition 37</TITLE><link rel="stylesheet" type="text/css" href="../elements.css">
<script src="../elements.js"></script>
</HEAD>
<BODY>

<div id="header"></div>
<script>loadHeader();</script>

<div class="theorem">
<h1>Proposition 37</h1>

<div class="statement">Triangles which are on the same base and in the same parallels equal one another.</div>

<p>Let <i>ABC</i> and <i>DBC</i> be triangles on the same base <i>BC</i> and in the same parallels <i>AD</i> and <i>BC.</i>

<div class="ldiagram">
<div id="ap1">
<applet code=Geometry codebase="../../Geometry" archive=Geometry.zip height=210 width=310> 
<img src="propI37.gif" alt="java applet or image">
<param name=background value="35,19,100">
<param name=title value="I.37">
<param name=e[1] value="B;point;free;80,170">
<param name=e[2] value="C;point;free;170,170">
<param name=e[3] value="A;point;free;130,40">
<param name=e[4] value="ABC;polygon;triangle;A,B,C;0;0;0,0,0;random">
<param name=e[5] value="AD';line;parallel;A,B,C;0;0;0">
<param name=e[6] value="D;point;lineSlider;AD',170,40">
<param name=e[7] value="BCD;polygon;triangle;B,C,D;0;0;0,0,0;random">
<param name=e[8] value="AD;line;connect;A,D">
<param name=e[9] value="E;point;parallelogram;B,C,A">
<param name=e[10] value="EA;line;connect;E,A">
<param name=e[11] value="EB;line;connect;E,B">
<param name=e[12] value="F;point;parallelogram;C,B,D">
<param name=e[13] value="FD;line;connect;F,D">
<param name=e[14] value="FC;line;connect;F,C">
</applet>
</div>
<script>
if (!navigator.javaEnabled()) document.getElementById('ap1').innerHTML =
  '<img src="propI37.gif" hspace=10 vspace=10 alt="I.37">';
</script>
</div>

<p>I say that the triangle <i>ABC</i> equals the triangle <i>DBC.</i>
 
<div class="just"><a href=post2.html>I.Post.2</a>
<br><a href="propI31.html">I.31</a></div>
<p>Produce <i>AD</i> in both directions to <i>E</i> and <i>F.</i> Draw <i>BE</i> through <i>B</i> parallel to <i>CA,</i> and draw <i>CF</i> through <i>C</i> parallel to <i>BD.</i>

<div class="just"><a href="propI35.html">I.35</a></div>
<p>Then each of the figures <i>EBCA</i> and <i>DBCF</i> is a parallelogram, and they are equal, for they are on the same base <i>BC</i> and in the same parallels <i>BC</i> and <i>EF.</i>

<div class="just"><a href="propI34.html">I.34</a></div>
<p>Moreover the triangle <i>ABC</i> is half of the parallelogram <i>EBCA,</i> for the diameter <i>AB</i> bisects it.  And the triangle <i>DBC</i> is half of the parallelogram <i>DBCF,</i> for the diameter <i>DC</i> bisects it.

<div class="just"><a href=cn.html>C.N</a></div>
<p>Therefore the triangle <i>ABC</i> equals the triangle <i>DBC.</i>

<p>Therefore <i>triangles which are on the same base and in the same parallels equal one another.</i>

<div class="qed">Q.E.D.</div>
</div>

<a name=guide><h2>Guide</h2></a>


In this proposition the triangles have the same base while in the next one the triangles have equal bases.  Since the proofs are the same except that this depends on I.35 while the next depends on I.36, and the next is more general, there is no purpose to include this proposition.  

<p>The justification of the last conclusion is missing.  From the statement that the doubles of two magnitudes are equal, we want to conclude that the magnitudes themselves are equal.  Although Euclid included no such common notion, others inserted it later.  See the commentary on <a href=cn.html>Common Notions</a> for a proof of this halving principle based on other properties of magnitudes.

<h4>Use of Proposition 37</h4>
This proposition is used in  <a href=propI39.html>I.39</a>, <a href=propI41.html>I.41</a>, and <a href=../bookVI/propVI2.html>VI.2</a>.

<div id="footer"></div>
<script>
  loadFooter("1996, 1997");
</script>
</BODY></HTML>
