<p><center>
<applet code=Geometry codebase="../Geometry" height=300 width=400>
<img src=round2a.gif alt="Medians and Centroids">
<param name=background value="0,0,100">
<param name=title value="Medians and Centroids">
<param name=e[1] value="A;point;free;220,60">
<param name=e[2] value="B;point;free;120,150">
<param name=e[3] value="C;point;free;200,170">
<param name=e[4] value="E;point;free;50,200">
<param name=e[5] value="F;point;free;150,250">
<param name=e[6] value="ABC;circle;circumcircle;A,B,C;0;0;green;0">
<param name=e[7] value="D;point;harmonic;A,B,C">
<param name=e[8] value="EAF;circle;circumcircle;E,A,F;0;0;gray;0">
<param name=e[9] value="A';point;harmonic;E,A,F">
<param name=e[10] value="EBF;circle;circumcircle;E,B,F;0;0;gray;0">
<param name=e[11] value="B';point;harmonic;E,B,F">
<param name=e[12] value="ECF;circle;circumcircle;E,C,F;0;0;gray;0">
<param name=e[13] value="C';point;harmonic;E,C,F">
<param name=e[14] value="EDF;circle;circumcircle;E,D,F;0;0;gray;0">
<param name=e[15] value="D';point;harmonic;E,D,F">
<param name=e[16] value="A'B'C';circle;circumcircle;A',B',C';0;0;green">
<param name=e[17] value="h;point;harmonic;A',B',C';0;red">
</applet>
</center><p>
