<HTML><HEAD><TITLE>Twelve-twenty configuration</TITLE></HEAD>
<BODY bgcolor=ffffff>

<center><h1>The configuration of 12 circles and 20 points</h1></center>

<p><center>
<applet code=Geometry codebase="../Geometry" archive=Geometry.zip height=450 width=500>
<img src=seventen.gif alt="Seven circles meeting at ten points">
<param name=background value="0,0,100">
<param name=title value="Seven circles meeting at ten points">
<param name=e[1] value="A;point;free;180,220">
<param name=e[2] value="B;point;free;200,150">
<param name=e[3] value="C;point;free;300,160">
<param name=e[4] value="ABCDE;circle;circumcircle;A,B,C;0;0;black;0">
<param name=e[5] value="D;point;circleSlider;300,220,ABCDE">
<param name=e[6] value="E;point;circleSlider;250,230,ABCDE">
<param name=e[7] value="F;point;free;110,240">
<param name=e[8] value="ABFGK;circle;circumcircle;A,B,F;0;0;black;0">
<param name=e[9] value="AEFJO;circle;circumcircle;A,E,F;0;0;black;0">
<param name=e[10] value="G;point;circleSlider;180,90,ABFGK">
<param name=e[11] value="BCGHL;circle;circumcircle;B,C,G;0;0;black;0">
<param name=e[12] value="H;point;circleSlider;300,90,BCGHL">
<param name=e[13] value="CDHIN;circle;circumcircle;C,D,H;0;0;black;0">
<param name=e[14] value="I;point;circleSlider;370,230,CDHIN">
<param name=e[15] value="DEIJN;circle;circumcircle;D,E,I;0;0;black;0">
<param name=e[16] value="EJ;line;bichord;AEFJO,DEIJN;0;0;0">
<param name=e[17] value="EJmid;point;midpoint;EJ;0;0">
<param name=e[18] value="J;point;extend;E,EJmid,E,EJmid">
<param name=e[19] value="K;point;circleSlider;70,70,ABFGK">
<param name=e[20] value="L;point;circleSlider;260,50,BCGHL">
<param name=e[21] value="GKLPQ;circle;circumcircle;G,K,L;0;0;black;0">
<param name=e[22] value="M;point;circleSlider;350,80,CDHIN">
<param name=e[23] value="HLMQR;circle;circumcircle;H,L,M;0;0;black;0">
<param name=e[24] value="LQ;line;bichord;GKLPQ,HLMQR;0;0;0">
<param name=e[25] value="LQmid;point;midpoint;LQ;0;0">
<param name=e[26] value="Q;point;extend;L,LQmid,L,LQmid">
<param name=e[27] value="N;point;circleSlider;380,250,DEIJN">
<param name=e[28] value="IMNRS;circle;circumcircle;I,M,N;0;0;black;0">
<param name=e[29] value="MR;line;bichord;HLMQR,IMNRS;0;0;0">
<param name=e[30] value="MRmid;point;midpoint;MR;0;0">
<param name=e[31] value="R;point;extend;M,MRmid,M,MRmid">

<param name=e[32] value="O;point;circleSlider;70,300,AEFJO">
<param name=e[33] value="FKOPT;circle;circumcircle;F,K,O;0;0;black;0">
<param name=e[34] value="JNOST;circle;circumcircle;J,N,O;0;0;black;0">
<param name=e[35] value="PK;line;bichord;GKLPQ,FKOPT;0;0;0">
<param name=e[36] value="PKmid;point;midpoint;PK;0;0">
<param name=e[37] value="P;point;extend;K,PKmid,K,PKmid">
<param name=e[38] value="NS;line;bichord;IMNRS,JNOST;0;0;0">
<param name=e[39] value="NSmid;point;midpoint;NS;0;0">
<param name=e[40] value="S;point;extend;N,NSmid,N,NSmid">
<param name=e[41] value="OT;line;bichord;FKOPT,JNOST;0;0;0">
<param name=e[42] value="OTmid;point;midpoint;OT;0;0">
<param name=e[43] value="T;point;extend;O,OTmid,O,OTmid">
<param name=e[44] value="PQRST;circle;circumcircle;P,Q,R;0;0;red;0">
</applet></center><p>

<p>David E. Joyce  
<br><a href="http://aleph0.clarku.edu/">Department of Mathematics and Computer Science</a>
<br>Clark University
<br>Worcester, MA 01610
<p>Email: <A HREF="mailto:djoyce@clarku.edu">djoyce@clarku.edu</a>
<br>
My <a href="http://aleph0.clarku.edu/~djoyce/home.html">Homepage</a>.
</BODY>
</HTML>
