<html>
<head>
    <title>Test View</title>
</head>
<body>
<canvas id="canvasId" style="width:600px; height: 300px;"></canvas>
<canvas id="canvasId2" style="width:600px; height: 300px;"></canvas>
<!-- Dependencies -->
<script src="../../../node_modules/paper/dist/paper-full.js"></script>
<script src="../../../dist/bundle.js" type="text/javascript"></script>
<script type="text/javascript">
    console.log(geomlib);
    let Color = geomlib.Color;
    let Align = geomlib.Align;
    let E = geomlib.E;
    geomlib.init({
        background: '#ffe9cd',
        title: "Post.1",
        align: Align.ABOVE,
        canvasid: "canvasId2",
        elements: [
            {
                name: "A",
                construction: E.Point.free,
                params: [250, 30]
            },
            {
                name: "B",
                construction: E.Point.free,
                params: [350, 30]
            },
            {
                name: "C",
                construction: E.Point.lineSlider,
                params: ["A", "B", 100, 30, 0]
            },
            {
                name: "D",
                construction: E.Point.lineSlider,
                params: ["A", "B", 500, 30, 0]
            },
            {
                name: "CD",
                construction: E.Line.connect,
                params: ["C", "D"]
            },
        ]
    });

    geomlib.init({
        background: '#ffe9cd',
        title: "Post.1",
        align: Align.ABOVE,
        canvasid: "canvasId",
        elements: [
        //    <param name=e[1] value="A;point;free;250,30">
            {
                name: "A",
                construction: E.Point.free,
                params: [250, 30]
            },
        //    <param name=e[2] value="B;point;free;150,150">
            {
                name: "B",
                construction: E.Point.free,
                params: [150, 150]
            },
        //    <param name=e[3] value="AB;line;connect;A,B">
            {
                name: "AB",
                construction: E.Line.connect,
                params: ["A", "B"]
            },
        //    <param name=e[4] value="C;point;free;270,150">
            {
                name: "C",
                construction: E.Point.free,
                params: [270, 150]
            },
        //    <param name=e[5] value="F;point;lineSlider;B,C,220,150">
            {
                name: "F",
                construction: E.Point.lineSlider,
                params: ["B", "C", 220, 150, 0]
            },
        //    <param name=e[6] value="D;point;extend;F,B,F,B">
            {
                name: "D",
                construction: E.Point.extend,
                params: ["F", "B", "F", "B"]
            },
            //    <param name=e[8] value="E;point;cutoff;B,A,B,F">
            {
                name: "E",
                construction: E.Point.cutoff,
                params: ["B", "A", "B", "F"]
            },
        //    <param name=e[7] value="semi;sector;sector;B,F,D;0;0;black;random">
            {
                name: "semi1",
                construction: E.Sector.sector,
                params: ["B", "F", "E"]
            },
            //    <param name=e[7] value="semi;sector;sector;B,F,D;0;0;black;random">
            {
                name: "semi2",
                construction: E.Sector.sector,
                params: ["B", "F", "D"]
            },
        //    <param name=e[9] value="CD;line;connect;C,D">
            {
                name: "CD",
                construction: E.Line.connect,
                params: ["C", "D"]
            },
        //    <param name=e[10] value="circ;circle;radius;B,F;0;0;0;0">
            {
                name: "circ",
                construction: E.Circle.radius,
                params: ["B", "F"]
            },
        //    <param name=e[11] value="G;point;lineSlider;C,B,40,150">
            {
                name: "G",
                construction: E.Point.lineSlider,
                params: ["C", "B", 40, 150, 0]
            },
        //    <param name=e[12] value="CG;line;connect;C,G">
            {
                name: "CG",
                construction: E.Line.connect,
                params: ["C", "G"]
            },
        //    <param name=e[13] value="H;point;cutoff;G,E,B,F">
            {
                name: "H",
                construction: E.Point.cutoff,
                params: ["G", "E", "B", "F"]
            },
        //    <param name=e[14] value="EH;line;connect;E,H">
            {
                name: "EH",
                construction: E.Line.connect,
                params: ["E", "H"]
            },
        //    <param name=e[15] value="HG;line;connect;H,G;0;0;green">
            {
                name: "HG",
                construction: E.Line.connect,
                params: ["H", "G"]
            },
        //    <param name=e[16] value="BH;line;connect;B,H">
            {
                name: "BH",
                construction: E.Line.connect,
                params: ["B", "H"]
            }
        ]
    });

</script>
</body>
</html>